body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    background-color: #f4f4f4;
}

.sky-background p {
    margin: 0;
}

.sky-background, .sunset-background, .moon-background {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sky-background {
    background-image:url('../imgs/sky.jpg');
    min-height: 100%;
    opacity: 0.8;
}

.sunset-background {
    background-image:url('../imgs/sunset.jpg');
    min-height: 400px;
    opacity: 0.8;
}

.moon-background {
    background-image:url('../imgs/fullmoon.jpg');
    min-height: 450px;
}

.section {
    height: auto;
    text-align:center;
    padding: 1em;
    background-color: #f4f4f4;
    color: rgb(76, 61, 158);
    font-family: 'Satisfy', cursive;
    font-size: 2em;
}

.section p {
    margin: 0 auto;
    min-width: 90%;
}

.second-section, .third-section {
    background-color: #282e34;
    color:#ddd;
}

.sky-text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 4em;
    text-transform: uppercase;
}

.wolf {
    height: 16em;
    width: 14em;
}

@media(max-width:568px) {
    .moon-background, .sky-background, .sunset-background {
        background-attachment: scroll;
    }
}